---
---

@import "{{ site.theme }}";

.navigation {
    margin: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}

.lang-logo {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    vertical-align: middle;
    height: 32px;
}

#logo {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

#google_translate_element {
    position: absolute;
    top: 50px;
    right: 0px;
}
